<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
		<plugin interceptor="com.jd.promo.sharding.mybatis.plugin.ShardPlugin">
			<property name="shardingConfig" value="mybatis/config.xml"/>
		</plugin>
	</plugins>
	<mappers>
		<mapper resource="mybatis/userDao.xml" />
		<mapper resource="mybatis/roleDao.xml" />
		<mapper resource="mybatis/taskDao.xml" />
	</mappers>
</configuration>